* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #333;
    color: #eee;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 5rem;

    img {
        height: 15rem;
        width: auto;
    }
}

.header {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: steelblue;
    text-align: center;

    &__top {

        &--title {
            font-size: 5rem;
        }

        &--desc {
            font-style: italic;
        }
    }

    &__details {
        font-size: 2rem;

        &--link {

            &-tag {
                padding: 4px;
                text-decoration: none;
                border-bottom: 1px solid #eee;
                color: #eee;

                &:hover {
                    color: white;
                    border-bottom: 1px solid red;
                }
            }

        }
    }
}

.main {
    padding: 3rem;

    &__about {
        text-align: center;
        font-size: 4rem;
    }

    &__heading {
        margin-top: 3rem;
        font-size: 3rem;
    }

    &__overview {

        &--text {
            font-size: 2rem;
        }
    }

    &__scripts {
        margin-top: 1rem;

        &--codeblock {
            // background-color: #ccc;
            font-size: 1.3rem;
        }

        &--commands {
            background-color: steelblue;
            padding: 2rem;
            font-size: 2rem;
            width: 80%;
            margin: 0 auto;
            border-radius: 5px;

            &-row {
                margin: 1rem;
                padding: .3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-row:first-child {
                text-transform: uppercase;
                font-weight: 700;
                border-bottom: 1px solid #eee;

            }
            &-row:first-child &-desc {
                font-size: 2rem;
                font-style: inherit;
            }

            &-row:nth-child(2) {
                border: 3px solid green;
            }

            &-row:nth-child(6) {
                border: 3px solid green;
            }

            &-label {
                width: 25%;
            }

            &-cmd {
                width: 30%;
            }

            &-desc {
                width: 50%;
                font-size: 1.6rem;
                font-style: italic;
            }
        }
    }

    &__folders {

        &--tree {
            font-size: 2rem;
        }
    }
}